@media (max-width: 600px) {
  .skills{
    height: 550px !important;
  }
  .skills img{
    width: 180px;
    height: 150px;
  }
  .job img{
    width: 310px;
  }
}


body {
  margin: 0; }

main {
  background-color: white;
  background-image: url("../img/coverBlueEdit-min.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

nav {
  height: 50px;
  padding-top: 30px; }

h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(26, 138, 175, 0.6);
  margin-top: 40px;
  font-size: 40px; }

section {
  min-height: 450px; }

ul li {
  padding: 10px 10px; }

footer {
  background-color: #106582;
  height: 70px; }

span{
  color: rgba(26, 138, 175, 0.6);
  font-weight: bolder;
}
#about {
  height: 450px;
  background-image: url("../img/gplaypattern/gplaypattern.png"); }

#jobs {
  display: flex;
  flex-direction: column;
  background-color: white; }

#saludo {
  color: white;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }

.menu a {
  margin: 0 20px;
  color: #fff;
  padding-bottom: 9px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid transparent; }

.menu a:hover {
  border-bottom: 2px solid #fff; }

.welc {
  margin-top: 50px;
  font-family: "Droid Serif", serif;
  font-size: 30px; }

.nice {
  width: 450px;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.tell {
  font-size: 35px;
  margin-top: 45px;
  font-weight: 700;
  background-color: rgba(26, 138, 175, 0.6);
  width: 250px;
  border-radius: 5px;
  padding: 10px 20px; }
  .tell .btn-xl {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase; }

.links {
  text-align: right; }

.texto {
  font-family: "Droid Serif", serif;
  font-size: 25px; }

.logod {
  width: 250px;
  height: 220px;
  border: 0px;
  filter: grayscale(100%);
  opacity: 0.6;
  padding: 20px; }

.job {
  padding: 40px; }

.job img {
  max-width: 500px;
  box-shadow: 5px 5px 25px 0px rgba(121, 122, 124, 0.6);
  border-radius: 7px; }

.job p {
  margin: 30px;
  font-family: "Droid Serif", serif; }

.recuadro {
  display: flex;
  flex-direction: column; }

.bloq {
  padding: 20px; }

.logo {
  height: 80px;
  border: 5px solid black; }

.skills {
  height: 700px; }

.contact {
  min-height: 200px;
  background-image: url("../img/gplaypattern/gplaypattern.png");
  background-repeat: repeat;
  display: flex;
  justify-content: center; }

.form-group {
  padding: 15px 0; }

.btn {
  margin: 5px 0;
  font-size: 30px;
  color: #eee; }

.subm {
  background-color: rgba(26, 138, 175, 0.6); }

.redesSociales {
  display: flex;
  justify-content: center;
  align-items: center; }

.fa {
  width: 43px; }

.redesSociales a {
  font-size: 30px;
  color: rgba(26, 138, 175, 0.9);
  padding: 5px;
  border: 2px solid #0C3C89;
  border-radius: 50px;
  margin: 15px 15px; }

/*# sourceMappingURL=index.css.map */
